.tab-container {
    display: flex; 
    border-bottom: 2px solid #ccc; 
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0;
    font-weight: 600;   
    padding:20px;
    .tab {
      flex:1 ;
      text-align: center;
      padding: 50px 20px;
      cursor: pointer;

      color: #fff

      a {
      text-decoration: none;
      color: #b91e68; 
      }

  
      &:hover {
        background-color: #f0f0f0;
      }
  
      &.active {
        font-weight: bold; 
        border-bottom: 2px solid #007bff; 
      }
    }
  }
