.tab-container {
    display: flex;
    border-bottom: 2px solid #ccc; 
    justify-content: space-between;
    margin: 5px 0;
    font-weight: 600;   
    padding:20px 1px;
    .tab {
      width: 500px;
      text-align: center;
      padding: 40px 1px;
      cursor: pointer;

      color: #7d7d30

      a {
      text-decoration: none;
      color: #b91e68; 
      }

  
      &:hover {
        background-color: #f0f0f5;
      }
  
      &.active {
        font-weight: bold; 
        border-bottom: 2px solid #007bf5; 
      }
    }
  }
