<div class ="div-container">
  <div>
    <%= link_to "<i class='bi bi-shield-lock'></i>プライバシーポリシー".html_safe, policy_path %>
  </div>
  <div>
    <%= link_to "<i class='bi bi-file-earmark-text'></i>利用規約".html_safe, term_path %>
  </div>
  <div>
    <%= link_to "©︎ 2024 -ぶらっと(仮)", root_path, class: "home-link", method: :get %>
  </div>
  <div class="twitter">
    <%= button_to 'xでシェアする', 
      "https://twitter.com/intent/tweet?url=#{CGI.escape('https://pf-app-udpx.onrender.com')}&text=#{CGI.escape('献血を利用する人を増やす事を目的としたアプリです!')}&via=#{CGI.escape('@5151b1236776')}", 
      method: :get, 
      target: '_blank' 
    %>
  </div>
 </div>
