<div class ="div-container">
  <div>
    <%= link_to "<i class='bi bi-shield-lock'></i>プライバシーポリシー".html_safe, policy_path %>
  </div>
  <div>
    <%= link_to "<i class='bi bi-file-earmark-text'></i>利用規約".html_safe, term_path %>
  </div>
  <div>
    <%= link_to "©︎ 2024 -ぶらっと(仮)", root_path, class: "home-link", method: :get %>
  </div>
  <div class="twitter">#OGPのシェア機能
    <%= link_to 'Xでシェアする', 
      "https://twitter.com/intent/tweet?url=#{CGI.escape('https://pf-app-udpx.onrender.com')}&text=#{CGI.escape('献血を利用する人達のコミュニティを育むことを目的としたアプリです!')}&via=#{CGI.escape('5151b1236776')}&image=#{CGI.escape(image_url('OGP.jpg'))}", 
      method: :get, target: '_blank' 
    %>
  </div>
 </div>
