<div class="top-wrapper">
  <h1>ぶらっととは？</h1>
  <h3>このサイトは献血利用者のコミュニティの輪を育む為のサイトです。</h3>
  <h3>初めて献血をされる方と定期的に献血をされている方々が疑問などに答えるような環境を作りたいです。</h3>
  <h3>献血に行った人もらえる各献血センター独自のポイントカードを忘れないようにメモすることもできます</h3>
  <h3>投稿機能で献血をしている方をお話しすることができます。</h3>
  <div class="tab-container">
    <div class="tab"><%= link_to "自由投稿", free_posts_path %></div>
    <div class="tab"><%= link_to "イベント情報へ", events_path %></div>
  </div>
</div>

