<div class="tab-container">
  <div class="tab"><%= link_to "このサイトの説明" , about_path %></div>
  <div class="tab"><%= link_to "自由投稿", free_posts_path %></div>
  <div class="tab"><%= link_to "イベント情報へ", events_path %></div>
</div>


