<h1>第1条（適用）</h1>
<h3>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</h3>
<h3>当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</h3>
<h3>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</h3>
<br>
<h1>第2条（利用登録）</h1>
<h3>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこれを承認することによって，利用登録が完了するものとします。</h3>
<h3>当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。</h3>
<h4>利用登録の申請に際して虚偽の事項を届け出た場合</h4>
<h4>本規約に違反したことがある者からの申請である場合</h4>
<h4>その他，当社が利用登録を相当でないと判断した場合</h4>
<br>
<h1>第3条（ユーザーIDおよびパスワードの管理）</h1>
<h3>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。</h3>
<br>
<h1>第4条（禁止事項）</h1>
<h3>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</h3>
<br>
<h1>第5条（個人情報の第三者提供）</h1><
<h2>当社は，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</h2>
<h3>1.人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</h3>
<h3>2.公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</h3>
<h3>3.国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</h3>
<h3>4.予め次の事項を告知あるいは公表し，かつ当社が個人情報保護委員会に届出をしたとき</h3>
<h4>1.利用目的に第三者への提供を含むこと</h4>
<h4>2.第三者に提供されるデータの項目</h4>
<h4<3.第三者への提供の手段または方法</h4>
<h4>4.本人の求めに応じて個人情報の第三者への提供を停止すること</h4>
<h4>5.本人の求めを受け付ける方法</h4>
<br>
<h1>第6条（個人情報の開示）</h1>
<h3>1.当社は，本人から個人情報の開示を求められたときは，本人に対し，遅滞なくこれを開示します。ただし，開示することにより次のいずれかに該当する場合は，その全部または一部を開示しないこともあり</h3>
<h3>開示しない決定をした場合には，その旨を遅滞なく通知します。なお，個人情報の開示に際しては，1件あたり1，000円の手数料を申し受けます。</h3>git
<h4>  1.本人または第三者の生命，身体，財産その他の権利利益を害するおそれがある場合</h4>
<h4>  2.当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</h4>
<h4>  3.その他法令に違反することとなる場合</h4>
<h4>2.前項の定めにかかわらず，履歴情報および特性情報などの個人情報以外の情報については，原則として開示いたしません。</h2>
<br>
<h1>第7条（個人情報の訂正および削除</h1>
<h3>1.ユーザーは，当社の保有する自己の個人情報が誤った情報である場合には，当社が定める手続きにより，当社に対して個人情報の訂正，追加または削除（以下，「訂正等」といいます。）を請求することができます。</h3>
<h3>当社は，ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正等を行うものとします。</h3>
<h3>当社は，前項の規定に基づき訂正等を行った場合，または訂正等を行わない旨の決定をしたときは遅滞なく，これをユーザーに通知します。</h3>

