<p style="color: green"><%= notice %></p>

<h1>イベント紹介</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "このイベントを見る", event %>
    </p>
  <% end %>
</div>

<%= link_to "新しいイベントの作成", new_event_path %>
