<% @reservations.each do |reservation| %>
    <p>
      <%= simple_format(reservation.date.to_s) %>
    </p>
    <p>
      <%= simple_format(reservation.note) %>
    </p>

  <%= link_to '編集', edit_reservation_path(reservation) %>
  
  <%= button_to '削除', reservation, method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %> 