<h1>Editing free post</h1>

<%= render "form", free_post: @free_post %>

<br>

<div>
  <%= link_to "Show this free post", @free_post %> |
  <%= link_to "Back to free posts", free_posts_path %>
</div>
