<p style="color: green"><%= notice %></p>

<h1>Free posts</h1>

<div id="free_posts">
  <% @free_posts.each do |free_post| %>
    <%= render free_post %>
    <p>
      <%= link_to "Show this free post", free_post %>
    </p>
  <% end %>
</div>

<%= link_to "New free post", new_free_post_path %>
