<p style="color: green"><%= notice %></p>

<h1>献血ルームに関する掲示板</h1>

<div id="free_posts">
  <% @free_posts.each do |free_post| %>
    <p>
      <%= link_to free_post.title, free_post %>
    </p>
  <% end %>
</div>

<%= link_to "New free post", new_free_post_path %>
