$primary-color: #b91e68;
$background-color: #f8f9fa;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  
    .main {
      flex-grow: 1;
  
      h1 {
        color: #b91e68;
        font-size: 2.5em;
        font-weight: bold;
        text-align: left;
      }
    }
  
    .home-link {
        text-decoration: none;
        color: inherit;
      }
    .user-info {
      display: flex;
      align-items: center;
  
      .nav-link {
        margin: 0 10px;
        color: #333;
        text-decoration: none;
  
        &:hover {
          color: #b91e68;
          text-decoration: underline;
        }
      }
  
      img {
        border-radius: 50%;
        margin-left: 10px;
      }
    }
    .welcome-container {
        display: flex;
        align-items: center;
      }
  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
