.simple-calendar {
    background-color: #b91e68;
    table-layout: fixed;
    width: 200px ;
    height: 400px ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: sticky;
    top:0 ;
    left:0 ;
   }
