.top-wrapper{
  text-align: center; /* テキストをセンターに設定 */
}
.table{ 
 text-align: center;
 background-color: #f0f0f0; /* 背景色を薄いグレーに設定 */
 overflow: hidden; /* はみ出た部分を隠す */

 .avatar-image{
  width: 100px;/*要素の幅を100ピクセルにする */
  height: 100px;/*　要素の高さを100ピクセルにする */
  border-radius: 50%;
  margin:0 auto;
 }
} 
